<div class="main">
    <div class="left">
        <h1>Stanford <br> Elementary</h1>
        <p>A Great Place <br>to Learn</p>
        <a href="">About Our School</a>
    </div>
    <div class="right">
        <img src="https://static.wixstatic.com/media/2feeec_3d5e29396ad1497e83c01b5a572bbb09~mv2.jpg/v1/fill/w_685,h_890,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2feeec_3d5e29396ad1497e83c01b5a572bbb09~mv2.jpg"
            alt="">
    </div>
</div>

<div class="cont">
    <div class="left" style="width: 50%;background-color: #C9ECF5;">
        <img [src]="path" alt="" style="height: 320px;width:480px;">
    </div>
    <div class="left" style="width: 50%;background-color: #E4F9FF;color: black;align-items: start;">
        <h3 style="font-size: 2.3rem;margin:10px 100px;">Safety First</h3>
        <h5 style="font-size: 1.3rem; width: 50%;margin:10px 100px;">
            Full reopening plans for next year, include a physically-distanced in-person learning model
        </h5>
        <b style="text-decoration: underline;font-size: 1.1rem;margin-left: 100px;">Learn More</b>
    </div>
</div>