<div class="card">
    <div class="left" [ngStyle]="{'background-color': cardDetails.bgColor}">
        <h1>{{ cardDetails.h1 }}</h1>
    </div>
    <div class="left">
        <img [src]="cardDetails.bgImage" alt="" height="100%" width="100%">
    </div>
    <div class="right">
        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click or double
            click me to
            add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your
            page. I’m a
            great place for you to tell a story and let your users know a little more about you.​
        </p>
    </div>
</div>